<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Survey Questions</title>

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue_grey-light_blue.min.css" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<body>

    <!-- Layout -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <!-- Navigation -->
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Projekt Titel</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="">Link2</a>
                    <a class="mdl-navigation__link" href="">Link3</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Navigation</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="">Link2</a>
                <a class="mdl-navigation__link" href="">Link3</a>
            </nav>
        </div>

        <!-- Content -->
        <main class="mdl-layout__content">
            <div class="page-content">
                <!-- Your content goes here -->
                <p>Hallo Welt</p>
            </div>
        </main>

        <!-- Footer -->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Projekt Titel</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/ref#imprint">Impressum</a></li>
                    <li><a href="/ref#privacy">Datenschutzrichtlinien</a></li>
                </ul>
            </div>
        </footer>
    </div>

</body>
</html>