<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Thomas Treml (datadonk23@gmail.com)">

    <title>Schl&ouml;sser und Burgen in Ober&ouml;sterreich</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">
    
    <!-- Leaflet + Plugins -->
    <link href="../static/css/leaflet.css" rel="stylesheet" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/L.Control.Locate.min.css" rel="stylesheet"/>
    <link href="../static/css/MarkerCluster.Default.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="../static/css/L.Control.Locate.ie.min.css"/>
    <![endif]-->

    <!-- Map Scripts -->
    <script src="../static/js/leaflet.js"></script>
    <script src="http://open.mapquestapi.com/sdk/leaflet/v1.s/mq-map.js?key={{ MAPQUEST_KEY }}"></script>
    <script src="../static/js/L.Control.Locate.min.js"></script>
    <script src="../static/js/leaflet.markercluster.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Schl&ouml;sser und Burgen in O&Ouml;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#map">Karte</a>
                    </li>
                    <li>
                        <a href="/ref#about">&Uuml;ber</a>
                    </li>
                    <li>
                        <a href="/ref#ref">Referenzen</a>
                    </li>
                    <li>
                        <a href="/ref#imprint">Impressum</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
        <!-- Map -->
        <div id="map"></div>     

        <script>    
            /* MapQuest Open */
            var map = L.map("map", {
                layers: MQ.mapLayer(),
                center: [48.136443, 13.964049],
                zoom: 8});
            
            /* Responsive zoom level */
            var width = document.documentElement.clientWidth;
            
            if (width < 768) {
                map.setZoom(8);
            }  else {
                map.setZoom(9);
            }
           
            /* State Boundary */
            var stateBoundBg = L.polygon( {{ stateBoundCoord }}, 
                                    {smoothFactor: 1.5,
                                    stroke: true, weight: 15, color: "#ffffff", opacity: 0.5,
                                    fill: false}).addTo(map);
            var stateBound = L.polygon( {{ stateBoundCoord }}, 
                    {smoothFactor: 1.5,
                    stroke: true, weight: 7, color: "#c17c8a", opacity: 0.5,
                    fill: false}).addTo(map);
                       
         	/* Import Features */
            var burgenFeatures = {{ burgenList|tojson|safe }};
            var schlossFeatures = {{ schlossList|tojson|safe }};
            var unbFeatures = {{ unbList|tojson|safe }};

            /* Marker Cluster */
            var markers = new L.MarkerClusterGroup({showCoverageOnHover: false, maxClusterRadius: 80});

            /* Marker Icon Burgen */
            var burgIcon = L.icon({
                iconUrl: "./static/img/burg_marker.png",
                iconSize:     [40, 40],
                iconAnchor:   [20, 40],
                popupAnchor:  [0, -40],});

            /* Marker Icon Schloesser*/
            var schlossIcon = L.icon({
                iconUrl: "./static/img/schloss_marker.png",
                iconSize:     [40, 40],
                iconAnchor:   [20, 40],
                popupAnchor:  [0, -40],});

            /* Marker Icon Unklassifiziert*/
            var unbIcon = L.icon({
                iconUrl: "./static/img/andere_marker.png",
                iconSize:     [40, 40],
                iconAnchor:   [20, 40],
                popupAnchor:  [0, -40],});

            /* Markers Burgen */
            for (i = 0; i < burgenFeatures.length; ++i) {
                var popupHTML = "<b>" + burgenFeatures[i]["name"] + "</b>" + 
                	"<br> <a href=" + burgenFeatures[i]["url"] + " target='_blank'>" +  burgenFeatures[i]["url"] + "</a>";
                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                var burgMarker = L.marker(burgenFeatures[i]["coord"], {icon: burgIcon}).bindPopup(popupContent);
                
                markers.addLayer(burgMarker);
            }

            /* Markers Schloesser */
            for (i = 0; i < schlossFeatures.length; ++i) {
                var popupHTML = "<b>" + schlossFeatures[i]["name"] + "</b>" + 
                	"<br> <a href=" + schlossFeatures[i]["url"] + " target='_blank'>" +  schlossFeatures[i]["url"] + "</a>";
                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                var schlossMarker = L.marker(schlossFeatures[i]["coord"], {icon: schlossIcon}).bindPopup(popupContent);
                
                markers.addLayer(schlossMarker);
            }

            /* Markers Unklassifiziert */
            for (i = 0; i < unbFeatures.length; ++i) {
                var popupHTML = "<b>" + schlossFeatures[i]["name"] + "</b>" + 
                	"<br> <a href=" + unbFeatures[i]["url"] + " target='_blank'>" +  unbFeatures[i]["url"] + "</a>";
                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                var unbMarker = L.marker(unbFeatures[i]["coord"], {icon: unbIcon}).bindPopup(popupContent);
                
                markers.addLayer(unbMarker);
            }
 
            map.addLayer(markers);

            /* Locate User */
            var locUserControl = L.control.locate({drawCircle: false, locateOptions: {maxZoom: 14}}).addTo(map);
            
            /* Send User Coordinates, get nearest Feature and render nearest Feature */
            map.addOneTimeEventListener("locationfound", function(e) {
                $.ajax("/loc/near/", {
                  type: "POST",
                  data: {
                    lat: e.latlng.lat,
                    lng: e.latlng.lng
                  }
                });
                // get nearest Feature
                var userPos = "['" + [(e.latlng.lng).toFixed(7), (e.latlng.lat).toFixed(7)].toString() + "']";
                setTimeout(function () {
                    var link = "/loc/" + userPos
                	$.get(link, function(data) {
	                  	var nearestFeat = data;						
                  	    var nFeat = nearestFeat.split("\n");
                  	    var name = nFeat[0].slice(16, -8);
                  	    var url = nFeat[1].slice(14, -8);
	                  	var lat = parseFloat(nFeat[2].slice(13, -7));
	                  	var lng = parseFloat(nFeat[3].slice(13, -7));

                  	    // FIXME render nearest Feature
                  	    var circle = L.circleMarker([lat, lng]).addTo(map);
                  	});
                }, 500); 
            });
        </script>
    

    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
