<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" lang="de" content="Suche mit dieser Geo-App Schl&ouml;sser und Burgen in Ober&ouml;sterreich auf einer Karte
											    und finde Informationen &uuml;ber die Bauwerke">
    <meta name="description" lang="en" content="Find informations about palaces and castles in Upper Austria on a map">
    <meat name="keywords" lang="de" content="Burg, Schloss, Ruine, Ober&ouml;sterreich, O&Ouml;, Tourismus, Ausflugsziel, Karte, Geo">
    <meat name="keywords" lang="en" content="Castle,Palace, Upper Austria, Tourism, Map, Geo">
    <meta name="author" content="Thomas Treml (datadonk23@gmail.com)">

    <title>Schl&ouml;sser und Burgen in Ober&ouml;sterreich</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Leaflet + Plugins -->
    <link href="../static/css/leaflet.css" rel="stylesheet" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/L.Control.Locate.min.css" rel="stylesheet"/>
    <link href="../static/css/MarkerCluster.Default.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="../static/css/L.Control.Locate.ie.min.css"/>
    <![endif]-->

	<!-- Custom CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Map Scripts -->
    <script src="../static/js/leaflet.js"></script>
    <script src="http://open.mapquestapi.com/sdk/leaflet/v1.s/mq-map.js?key={{ MAPQUEST_KEY }}"></script>
    <script src="../static/js/L.Control.Locate.min.js"></script>
    <script src="../static/js/leaflet.markercluster.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Schl&ouml;sser und Burgen in O&Ouml;</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#map">Karte</a>
                    </li>
                    <li>
                        <a href="/ref#about">&Uuml;ber</a>
                    </li>
                    <li>
                        <a href="/ref#ref">Referenzen</a>
                    </li>
                    <li>
                        <a href="/ref#imprint">Impressum</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    
        <!-- Map -->
        <div id="map"></div>     

        <script>    
            /* MapQuest Open */
            var map = L.map("map", {
                layers: MQ.mapLayer(),
                center: [48.136443, 13.964049],
                zoomControl: false,
                zoom: 8});
	        var zoomControl = L.control.zoom({
		        position:'topright'
	        }).addTo(map);
            
            /* Responsive zoom level */
            var width = document.documentElement.clientWidth;
            var height = document.documentElement.clientHeight;
            
            if (width < 320 || height < 320) {
                map.setZoom(7);
            } else if (width < 640 || height < 640) {
                map.setZoom(8);
            } else {
                map.setZoom(9);
            }
           
            /* State Boundary */
            var stateBoundBg = L.polygon( {{ stateBoundCoord }}, 
                                    {smoothFactor: 1.5,
                                    stroke: true, weight: 15, color: "#ffffff", opacity: 0.5,
                                    fill: false}).addTo(map);
            var stateBound = L.polygon( {{ stateBoundCoord }}, 
                    {smoothFactor: 1.5,
                    stroke: true, weight: 7, color: "#000b20", opacity: 0.5,
                    fill: false}).addTo(map);
                       
	    /* Import Features */
            var burgenFeatures = {{ burgenList|tojson|safe }};
            var schlossFeatures = {{ schlossList|tojson|safe }};
            var unbFeatures = {{ unbList|tojson|safe }};

            /* Marker Cluster */
            var markers = new L.MarkerClusterGroup({showCoverageOnHover: false, maxClusterRadius: 91});
            var nearMarkers = new L.MarkerClusterGroup({showCoverageOnHover: false, maxClusterRadius: 20});

            /* Marker Icon Burgen */
            var burgIcon = L.icon({
                iconUrl: "./static/img/burg_marker.png",
                iconSize:     [36, 36],
                iconAnchor:   [18, 36],
                popupAnchor:  [0, -36]});

            /* Marker Icon Schloesser*/
            var schlossIcon = L.icon({
                iconUrl: "./static/img/schloss_marker.png",
                iconSize:     [36, 36],
                iconAnchor:   [18, 36],
                popupAnchor:  [0, -36]});

            /* Marker Icon Unklassifiziert*/
            var unbIcon = L.icon({
                iconUrl: "./static/img/andere_marker.png",
                iconSize:     [36, 36],
                iconAnchor:   [18, 36],
                popupAnchor:  [0, -36]});

            /* Marker Icon Nearest Feature*/
            var nearestIcon = L.icon({
                iconUrl: "./static/img/nearest_marker.png",
                iconSize:     [36, 36],
                iconAnchor:   [18, 72],
                popupAnchor:  [0, -72]});

            /* Markers Burgen */
            for (i = 0; i < burgenFeatures.length; ++i) {
                var popupHTML = "<b>" + burgenFeatures[i]["name"] + "</b>" + 
                	"<br> <a href=" + burgenFeatures[i]["url"] + " target='_blank'>Mehr dar&uuml;ber auf Wikipedia</a>";
                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                var burgMarker = L.marker(burgenFeatures[i]["coord"], {icon: burgIcon}).bindPopup(popupContent);
                
                nearMarkers.addLayer(burgMarker);
                markers.addLayer(burgMarker);
            }

            /* Markers Schloesser */
            for (i = 0; i < schlossFeatures.length; ++i) {
                var popupHTML = "<b>" + schlossFeatures[i]["name"] + "</b>" + 
                	"<br> <a href=" + schlossFeatures[i]["url"] + " target='_blank'>Mehr dar&uuml;ber auf Wikipedia</a>";
                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                var schlossMarker = L.marker(schlossFeatures[i]["coord"], {icon: schlossIcon}).bindPopup(popupContent);
                
                nearMarkers.addLayer(schlossMarker);
                markers.addLayer(schlossMarker);
            }

            /* Markers Unklassifiziert */
            for (i = 0; i < unbFeatures.length; ++i) {
                var popupHTML = "<b>" + schlossFeatures[i]["name"] + "</b>" + 
                	"<br> <a href=" + unbFeatures[i]["url"] + " target='_blank'>Mehr dar&uuml;ber auf Wikipedia</a>";
                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                var unbMarker = L.marker(unbFeatures[i]["coord"], {icon: unbIcon}).bindPopup(popupContent);
                
                nearMarkers.addLayer(schlossMarker);
                markers.addLayer(unbMarker);
            }
 
            map.addLayer(markers);

            /* Locate User */
            var locUserControl = L.control.locate({
                drawCircle: true,
                position: "topright",
                markerStyle: {
                    fillColor: "#699dff",
	                fillOpacity: 1,
	                color: "#fbfcff",
	                opacity: 0.6
                    },
                circleStyle: {
                	color: "#699dff",
                    opacity: 0.8,
                    weight: 1,
                    fillColor: "#699dff",
                    fillOpacity: 0.1
                    },
                strings: {
                    title: "Mein Standort", 
                    popup: "Du befindest dich hier <br> (im Umkreis von {distance}m)",
                    outsideMapBoundsMsg: "Du befindest dich ausserhalb der Karte"
                },
                locateOptions: {maxZoom: 14}
            }).addTo(map);

            
            /* Send User Coordinates, get nearest Feature and render nearest Feature */
            var nearestFeatLayer = new L.layerGroup();
            
            map.addOneTimeEventListener("locationfound", function(e) {
                $.ajax("/loc/near/", {
                  type: "POST",
                  data: {
                    lat: e.latlng.lat,
                    lng: e.latlng.lng
                  }
                });
                // get nearest Feature
                var userPos = "['" + [(e.latlng.lng).toFixed(7), (e.latlng.lat).toFixed(7)].toString() + "']";
                setTimeout(function () {
                    var link = "/loc/" + userPos
                	$.get(link, function(data) {
	                  	var nearestFeat = data;						
				var nFeat = nearestFeat.split("\n");
				var name = nFeat[0].slice(16, -8);
				var url = nFeat[1].slice(15, -8);
	                  	var lat = parseFloat(nFeat[2].slice(13, -7));
	                  	var lng = parseFloat(nFeat[3].slice(13, -7));
	                  	var dist = parseFloat(nFeat[4].slice(16, -8));

						// change zoom if Feature far away
						if (dist > 2.5) {
							map.setZoom(13);
						} else if (dist > 5) {
							map.setZoom(12);
						} else if (dist > 10){
							map.setZoom(11);
						};
						
			    // remove Markercluster and render nearMarkerCluster
			    map.removeLayer(markers);
			    map.addLayer(nearMarkers);
	                  	
                  	    // render nearest Feature
                  	    var popupHTML = "<b>" + name + "</b> ist am nächsten <br> <a href=" + url + 
	                  	    " target='_blank'>Mehr dar&uuml;ber auf Wikipedia</a>";
		                var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);
                  	    var nearestFeat = L.marker([lat, lng], {icon: nearestIcon}).bindPopup(popupContent);

                  	    nearestFeatLayer.addLayer(nearestFeat);
			            map.addLayer(nearestFeatLayer);
                  	});
                }, 1000); // wait a second 
                /* Remove nearest Feature Marker on Zoom out */
                function onOutZoom() {
                    if (map.getZoom() <= 12) {
                        map.removeLayer(nearestFeatLayer);
                }};
                map.on('zoomend', onOutZoom);    
            });

            
        </script>
    

    <!-- jQuery Version 1.11.1 -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
