<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content=""> <!-- FIXME -->
    <meta name="author" content="Thomas Treml (datadonk23@gmail.com)">

    <title>Damberg Challenge</title> <!-- FIXME -->

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="../static/css/leaflet.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Damberg</a>
            </li>
            <li>
                <a href="#top">Home</a>
            </li>
            <li>
                <a href="#about">Über</a>
            </li>
            <li>
                <a href="/tracks">Auffahrten</a>
            </li>
            <li>
                <a href="/routing">Routen</a>
            </li>
            <li>
                <a href="/rollofhonor">Ehrentafel</a>
            </li>
            <li>
                <a href="#map">Karte</a>
            </li>
            <li>
                <a href="#imprint">Impressum</a>
            </li>
        </ul>
    </nav>
    
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Damberg Challenge</h1>
            <span class="fa-stack fa-4x">    
                <i class="fa fa-circle fa-stack-2x" style="color: #ffffff;"></i>
                <i class="fa fa-bicycle fa-stack-1x text-primary" style="color: #1a1a1a;"></i>
            </span>
            <h3></h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Mehr darüber</a>
        </div>
    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="about" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Über</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-trophy fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Challenge</strong>
                                </h4>
                                <p>Fahre alle Straßen-Auffahrten zum Damberg mit dem Fahrrad an einem Tag, um in die Ehrenliste aufgenommen zu werden.</p>
                                <a href="/challenge" class="btn btn-light">Mehr darüber</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-road fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Auffahrten</strong>
                                </h4>
                                <p>Erfahre mehr über die Auffahrtsmöglichkeiten und ihre Kennzahlen.</p>
                                <a href="/tracks" class="btn btn-light">Mehr darüber</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Routen</strong>
                                </h4>
                                <p>Lass Dir eine Routenempfehlungen erstellen und lade Sie als GPX-Datei herunter.</p>
                                <a href="/routing" class="btn btn-light">Mehr darüber</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Ehrentafel</strong>
                                </h4>
                                <p>Zolle den Königen des Dambergs Respekt.</p>
                                <a href="/rollofhonor" class="btn btn-light">Mehr darüber</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    
    <!-- Map -->
    <!-- Script loading -->
    <script src="../static/js/leaflet.js"></script>
    
    <section id="map" class="map">
        <div class="container">
            <div class="row">                      
                <div id="map" height="100%" ></div>
		  
                <script>
                    /* OSM */
                    var map = new L.map('map', {attributionControl: false}).setView([48.015, 14.448], 12);
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    L.control.attribution({position: 'bottomleft'}).addTo(map);

                    /* Custom Marker */
                    var dambergIcon = L.icon({
                        iconUrl: "./static/img/marker/damberg_marker-icon.png",
                        iconSize:     [40, 60],
                        iconAnchor:   [20, 60],
                        popupAnchor:  [0, -60],});

                    var popupHTML = '<b>Damberg</b><br>H&ouml;he: 881m';
                    var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                    var dambergMarker = L.marker([48.003426, 14.4599396], {icon: dambergIcon}).addTo(map).bindPopup(popupContent);
                    
                    var polygon = L.polygon([
                                [47.9961400, 14.4081392], [48.0101886, 14.4189970], [48.0203225, 14.4184949], 
                                [48.0293111, 14.4260147], [48.0349419, 14.4350542], [48.0397649, 14.4495268],
                                [48.0360819, 14.4683219], [48.0251497, 14.4744784], [48.0001431, 14.4945388],
                                [48.0006298, 14.4732866], [47.9940009, 14.4611513], [47.9916805, 14.4479015],
                                [47.9807403, 14.4427007], [47.9889457, 14.4162012], [47.9961400, 14.4081392]
                                ], {stroke:false, fillColor:"#fcaf3e", fillOpacity:"0.3"}).addTo(map);
                </script>
		
		      </div>
                    
        </div>
        
    </section>

    <!-- Footer -->
    <footer>
        <div id="imprint" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Kontakt</strong>
                    </h4>
                    <p><b>Thomas Treml</b><br>
                        A-4400 Steyr, Bogenhausstr. 5/1</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:datadonk23@gmeial.com">datadonk23@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://twitter.com/datadonk23"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://google.com/+ThomasTreml"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://at.linkedin.com/in/thomastreml/de"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Thomas Treml 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
