<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Thomas Treml (datadonk23@gmail.com)">

    <title>Strecken</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="../static/css/leaflet.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="/#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="/">Damberg</a>
            </li>
            <li>
                <a href="/#top">Home</a>
            </li>
            <li>
                <a href="/#about">Über</a>
            </li>
            <li>
                <a href="/tracks">Auffahrten</a>
            </li>
            <li>
                <a href="/routing">Routen</a>
            </li>
            <li>
                <a href="/rollofhonor">Ehrentafel</a>
            </li>
            <li>
                <a href="/#imprint">Impressum</a>
            </li>
        </ul>
    </nav>

    <!-- About -->
    <section id="routing-info" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Finde Deine Strecke</h2>  
                </div>
            </div>
            <!-- /.row -->
            <div class="col-lg-12">
                    <p>Wähle den</p>       
                <div class="dropdown">
                    <button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownRoutes" data-toggle="dropdown" aria-expanded="true">
                    Startpunkt <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownRoutes">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>A</b> - Garsten</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>B</b> - St.Ulrich</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>C</b> - Porscheberg</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>D</b> - Bibelweg</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>E</b> - Kleinraming S&uuml;d</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>F</b> - Kleinraming Nord</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>G</b> - Winterh&ouml;he</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>H</b> - Egger</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#map-route"><b>I</b> - Gmain</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Map -->
    <!-- Script loading -->
    <script src="../static/js/leaflet.js"></script>
    
    <section id="map-route" class="map">
        <div class="container">
            <div class="row">                      
                <div height="100%" ></div>
		  
                <script>
                    /* OSM */
                    var map = new L.map('map-route', {attributionControl: false}).setView([48.025, 14.448], 13);
                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);
                    L.control.attribution({position: 'bottomleft'}).addTo(map);

                    /* Custom Marker */
                    var dambergIcon = L.icon({
                        iconUrl: "./static/img/marker/damberg_marker-icon.png",
                        iconSize:     [40, 60],
                        iconAnchor:   [20, 60],
                        popupAnchor:  [0, -60],});

                    var popupHTML = '<b>Damberg</b><br>H&ouml;he: 881m';
                    var popupContent = L.popup({keepInView:true,closeButton:true}).setContent(popupHTML);

                    var dambergMarker = L.marker([48.003426, 14.4599396], {icon: dambergIcon}).addTo(map).bindPopup(popupContent);
                    
                </script>
		      </div>      
        </div>    
    </section>
    
    <!-- Call to Action -->
    <aside class="call-to-action bg-primary" id="download-route">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Lade den GPX-Track herunter:</h3>
                    <a href="#" class="btn btn-lg btn-light">Download</a>
                </div>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer>
        <div id="routing-ref" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Referenzen</strong>
                    </h4>
                    <p>Thomas Treml<br>
                        A-4400 Steyr, Bogenhausstr. 5/1</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
